# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

##### Using 'or' in if statements

In [2]:
# covered yesterday

##### Using 'and' in if statements

In [3]:
# covered yesterday

##### Using both 'or' and 'and' in if statements

In [4]:
# covered yesterday

### String Manipulation

In [4]:
my_string="Gio plays too many video games"
print(my_string.lower())
print(my_string)
my_string = my_string.lower()
print(my_string)

gio plays too many video games
Gio plays too many video games
gio plays too many video games

In [5]:
my_string.upper()

'GIO PLAYS TOO MANY VIDEO GAMES'

In [6]:
my_string.title()

'Gio Plays Too Many Video Games'

##### .lstrip()

In [22]:
# string.lstrip()
name = "      Francisco     "
print("word", name.lstrip('r Fnc'), "word", sep="")

wordanciscoword

In [23]:
print("ff"," ".lstrip(),"ff",sep="")

ffff

##### .rstrip()

In [24]:
# string.rstrip()
name = "    Francisco     "
print("word", name.rstrip(' ocsi'), "word", sep="")

word    Franword

##### .strip()

In [25]:
# string.strip()
# string.rstrip()
name = "    Francisco     "

print("word", name.strip('Fr co'), "word", sep="")

wordancisword

##### .title()

In [8]:
# string.title()

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [ ]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
new_names=[]
for name in names:
    new_names.append(name.title().strip())
    
print(new_names)

# goal:  ['Connor', 'Max', 'Evan', 'Jordan']

##### .split()

In [29]:
my_string="Hello    all    you    guys I hope you are having a great day!"
print(my_string.split())

['Hello', 'all', 'you', 'guys', 'I', 'hope', 'you', 'are', 'having', 'a', 'great', 'day!']

In [30]:
my_string="Hello    all    you    guys I hope you are having a great day!"
print(my_string.split(" "))

['Hello', '', '', '', 'all', '', '', '', 'you', '', '', '', 'guys', 'I', 'hope', 'you', 'are', 'having', 'a', 'great', 'day!']

In [32]:
my_string="Hello, all you guys, I hope you are having a great day!"
print(my_string.split(', '))

['Hello', 'all you guys', 'I hope you are having a great day!']

### Working With Lists

##### min()

In [33]:
# min(list)
my_list = [88, 56, 34.54, 4321, 6.3, 44 , 1.1]

min(my_list)

1.1

In [34]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

##### max()

In [35]:
# max(list)
max(my_list)

4321

##### sum()

In [36]:
# sum(list)
print(sum(my_list))

4550.9400000000005

##### sorted()

In [39]:
# sorted(list)
# returns a copy of the array in sorted order
print(sorted(my_list))
print(my_list)

print(sorted(my_list, reverse=True))

[1.1, 6.3, 34.54, 44, 56, 88, 4321]
[88, 56, 34.54, 4321, 6.3, 44, 1.1]
[4321, 88, 56, 44, 34.54, 6.3, 1.1]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [43]:
# list.sort()
print(my_list.sort())
print(my_list)

my_list.sort(reverse=True)
print(my_list)

None
[1.1, 6.3, 34.54, 44, 56, 88, 4321]
[4321, 88, 56, 44, 34.54, 6.3, 1.1]

##### Copying a List

In [46]:
my_list1 = [1,2,3,4,5]
my_list2 = my_list1
my_list3 =  [1,2,3,4,5]
# my_list2.append(6)

print(my_list1)
print(my_list2)

print(id(my_list1))
print(id(my_list2))
print(id(my_list3))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
140389914428096
140389914428096
140389914427904

In [47]:
# [:] copies a list, doesn't alter original
my_list4 = my_list1[:]
print(id(my_list4))

140389912086336

In [48]:
my_list5 = my_list.copy()
print(id(my_list5))

140389912095296

##### 'in' keyword

In [ ]:
# did yesterday

##### 'not in' keyword

In [ ]:
 # did yesterday

##### Checking an Empty List

In [50]:
bool([1])

True

In [49]:
bool([])

False

In [ ]:
if len(my-list)==0:
    print("empty")
    
if my_list==[]:
    print('empty')

In [51]:
my_list = []
if not my_list:
    print("I am empty")
else:
    print("I have stuff")

I am empty

##### Removing Instances with a Loop

In [52]:
# while, remove
my_class = ['Dylan', "Gio", "Andre", "Dylan", "Jody"]

while "Dylan" in my_class:
    my_class.remove("Dylan")
    print("I removed a Dylan from the class roster.  We now have:", my_class)

I removed a Dylan from the class roster.  We now have: ['Gio', 'Andre', 'Dylan', 'Jody']
I removed a Dylan from the class roster.  We now have: ['Gio', 'Andre', 'Jody']

In [53]:
new = ['a','b','c']

new.remove('d')

ValueError: list.remove(x): x not in list

In [56]:
my_class = ['Dylan', "Gio", "Andre", "Dylan", "Jody"]
my_class.count('Dylan')
my_class.count('Gio')
my_class.count('Steve')

0

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [60]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

for name in names:
    while names.count(name)>1:
        names.remove(name)
print(names)
print(count)

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']
7

In [57]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
new_names=[]
for name in names:
    if name not in new_names:
        new_names.append(name)
print(new_names)

#['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

##### .join

In [65]:
# String Method!!!!
my_class = ['Dylan', "Gio", "Andre", "Dylan", "Jody"]
print(", ".join(my_class))
print("*-*".join(my_class))

print("".join(my_class))

Dylan, Gio, Andre, Dylan, Jody
Dylan*-*Gio*-*Andre*-*Dylan*-*Jody
DylanGioAndreDylanJody

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [68]:
my_class = ["Shayne",'Dylan', "Gio", "Andre", "Sarah" , "Dmitry" , "Sheffield", "Steven"]


new_list=[]
for person in my_class:
    new_list.append(person)
print(new_list)

['Shayne', 'Dylan', 'Gio', 'Andre', 'Sarah', 'Dmitry', 'Sheffield', 'Steven']

In [69]:
new_list_comp = [person for person in my_class]
print(new_list_comp)

['Shayne', 'Dylan', 'Gio', 'Andre', 'Sarah', 'Dmitry', 'Sheffield', 'Steven']

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [74]:

new_list=[]
for person in my_class:
    new_list.append(person.lower()[0])
print(new_list)

['s', 'd', 'g', 'a', 's', 'd', 's', 's']

In [75]:
new_list = [person.lower()[0] for person in my_class]
new_list

['s', 'd', 'g', 'a', 's', 'd', 's', 's']

In [76]:

new_list=[]
for person in my_class:
    if person[0].lower() == 's':
        new_list.append(person)
print(new_list)

['Shayne', 'Sarah', 'Sheffield', 'Steven']

In [77]:
new_list = [person for person in my_class if person[0].lower()=='s']
print(new_list)

['Shayne', 'Sarah', 'Sheffield', 'Steven']

In [78]:

new_list=[]
for person in my_class:
    if person[0].lower() == 's':
        new_list.append(person)
    else:
        new_list.append("Not Cool Name doesn't Start with S")
print(new_list)

['Shayne', "Not Cool Name doesn't Start with S", "Not Cool Name doesn't Start with S", "Not Cool Name doesn't Start with S", 'Sarah', "Not Cool Name doesn't Start with S", 'Sheffield', 'Steven']

In [79]:
new_list = [person if person[0].lower()=='s' else "Not Cool Name doesn't Start with S" for person in my_class]
print(new_list)

['Shayne', "Not Cool Name doesn't Start with S", "Not Cool Name doesn't Start with S", "Not Cool Name doesn't Start with S", 'Sarah', "Not Cool Name doesn't Start with S", 'Sheffield', 'Steven']

In [83]:
# Ex.............

# given a list (my_list) use a list comprehension to give me the 
# last letter of each word lowercased
my_list=['Levi','Axel','Carmelo','Yakov','Katie','Alec','Angelo','David','Trace']
new_list = [name[-1].lower() for name in my_list]

print(new_list)

['i', 'l', 'o', 'v', 'e', 'c', 'o', 'd', 'e']

In [81]:
my_class=['Grady', 'Dara', 'Scarlett', 'Patrick', 'Ku', 'Frank', 'Aydee']
# pull out 5 letter names... if the name is not five letter add in Not a five letter name

new_list = [person if len(person) == 5 else 'Not 5' for person in my_class]
print(sorted(new_list))
# ['Grady', 'Not 5', 'Not 5', 'Not 5', 'Not 5', 'Frank', 'Aydee']

['Aydee', 'Frank', 'Grady', 'Not 5', 'Not 5', 'Not 5', 'Not 5']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [85]:
my_tup = (1,2,3)
type(my_tup)

tuple

In [86]:
my_tup = 1,2,3
type(my_tup)

tuple

In [88]:
#Declare an empty tuple

# THIS IS USELESS!!!!!!!!
t2 = tuple()
t3 = ()

print(type(t2))
type(t3)

<class 'tuple'>

tuple

In [89]:
my_tup=('Jacoby','Ola', 'Alex', 'Andre')
print(my_tup)

('Jacoby', 'Ola', 'Alex', 'Andre')

In [90]:
my_tup[1]

'Ola'

In [91]:
my_tup.index('Alex')

2

In [92]:
my_tup.append('Dylan')
# NO NO NO

AttributeError: 'tuple' object has no attribute 'append'

##### sorted()

In [94]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [95]:
sorted_tup = tuple(sorted(my_tup, reverse=True))
sorted_tup

('Ola', 'Jacoby', 'Andre', 'Alex')

In [96]:
my_tup[2]="Steven"

TypeError: 'tuple' object does not support item assignment

In [99]:
new_tup = (1,2,3,["A","B","C"],4)
# new_tup[3]=["X","Y","Z"]
new_tup[3][1]="Y"
new_tup

(1, 2, 3, ['A', 'Y', 'C'], 4)

In [100]:
sorted('k,jafghs broliyaviya;iotyn;toygfsf')

[' ',
 ',',
 ';',
 ';',
 'a',
 'a',
 'a',
 'b',
 'f',
 'f',
 'f',
 'g',
 'g',
 'h',
 'i',
 'i',
 'i',
 'j',
 'k',
 'l',
 'n',
 'o',
 'o',
 'o',
 'r',
 's',
 's',
 't',
 't',
 'v',
 'y',
 'y',
 'y',
 'y']

##### Adding values to a Tuple

In [101]:
#Reconstruct the tuple and add values
my_tup=('Jacoby','Ola', 'Alex', 'Andre')
my_tup=my_tup + ('Jody', 'Steven')
my_tup

('Jacoby', 'Ola', 'Alex', 'Andre', 'Jody', 'Steven')

## Functions

##### User-Defined vs. Built-In Functions

In [105]:
def say_hello():
    print('Hello')
    

print(say_hello())

Hello
None

In [106]:
print(say_hello)

<function say_hello at 0x7faf1048e440>

In [114]:
def add():
    return 5+3
print(add()+2)
print("Thats all folks")


print(add()==8)

type(add())

10
Thats all folks
True

int

##### Accepting Parameters

In [140]:
# Order matters
# A variable can be any type of object

def print_full_name(f, l, m):
    print(f"{f} {m} {l}")

print_full_name(1,2,"middle")

1 middle 2

In [121]:
my_list=[]

def add_to_list(a_list):
    a_list.append('abc')
    return a_list

print(my_list)
my_list=add_to_list(my_list)
print(my_list)

[]
['abc']

##### Default Parameters

In [125]:
def agent_name(first, last="Bond"):
    print(f"Your secret agent Name is {last},  {first} {last}")
agent_name('kevin', "Bob")

Your secret agent Name is Bob,  kevin Bob

##### Making an Argument Optional

In [128]:
print('hey','you','guys', sep="429o8563597")

hey429o8563597you429o8563597guys

In [130]:
def my_function():
    print('line 1')
    return
    print('line 2') ## UNREACHABLE!!!! DEAD CODE
print('line 3')

my_function()

line 3
line 1

In [139]:
def what_datatype():
    return ['Hey', 123, [4,5], 187.123, {"hello":"guys"}]

what_datatype()[4]['hello']

'guys'

##### Keyword Arguments

# Creating a start, stop, step function

##### Returning Values

##### \*args and \*\*kwargs

In [141]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents
print(1,2,3,34,54,647,3567,45867,8674,65784,74563,5674,5674,5784,56784,78564,6748,78654,8674)

1 2 3 34 54 647 3567 45867 8674 65784 74563 5674 5674 5784 56784 78564 6748 78654 8674

In [146]:
def my_func(name, *args):
    print(name)
    print(type(args))
    for arg in args:
        print('The next arg is: ', arg, type(arg))

my_func('Dylan', 123.3, [1,2,3], 'I am too Cool', 'Kevin is the BEST')

Dylan
<class 'tuple'>
The next arg is:  123.3 <class 'float'>
The next arg is:  [1, 2, 3] <class 'list'>
The next arg is:  I am too Cool <class 'str'>
The next arg is:  Kevin is the BEST <class 'str'>

In [145]:
def my_func(name, **kwargs):
    print(name)
    print(type(kwargs))
    print(kwargs)
    for key in kwargs:
        print(key, kwargs[key])
    
my_func('Sarah', weight=85, height=64, foods=['Tacos','Steak', 'Strawberry'], hair_color="Pink")

Sarah
<class 'dict'>
{'weight': 85, 'height': 64, 'foods': ['Tacos', 'Steak', 'Strawberry'], 'hair_color': 'Pink'}
weight 85
height 64
foods ['Tacos', 'Steak', 'Strawberry']
hair_color Pink

##### Docstring

In [147]:
def my_function(name,age):
    '''
        Takes in a name and an age and returns a formatted string that tells the name and the age
        [name] = string
        [age]  = integer
    '''
    return f"{name} is {age}"

In [148]:
help(my_function)

Help on function my_function in module __main__:

my_function(name, age)
    Takes in a name and an age and returns a formatted string that tells the name and the age
    [name] = string
    [age]  = integer

##### Using a User Function in a Loop

In [151]:
def add_two(n):
    return n+2

while True:
    ask = int(input("What is your number???? "))
    new_value=add_two(ask)
    print(f'The new number is {new_value}')
    response = input("Ready to quit? [type quit]")
    if response.lower()=='quit':
        break

What is your number???? 6
The new number is 8
Ready to quit? [type quit]n
What is your number???? 10
The new number is 12
Ready to quit? [type quit]quit

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [152]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']


def add_names(first_names, last_names):
    full_names = []
    for index in range(len(first_names)):
        full_names.append(first_names[index] + " " + last_names[index])
    return full_names

print(add_names(first_name, last_name))

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

In [153]:
def add_names_comp(first_names, last_names):
    return [first_names[index] + " " + last_names[index] for index in range(len(first_names))]
add_names_comp(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

#placement of variable declaration matters
--LEGB--
Local
Enclosing
Global
Built-in

In [ ]:
x = 3
y = 12

def func():
    z=3
    x=12
    print(x)
    def inner():
        a=12
        z=55

        
print(x)

In [155]:
a_list=[5,7,2]
print(min(a_list))

def min(some_list):
    return "i overtook the builtin scope"

print(min(a_list))

2
i overtook the builtin scope

In [157]:
#define a var in the global space
var1 = "A"
var2 = "C"

def my_function():
    print("inside the function",var1)
    var2 ="B"
    print("inside the function",var2)

my_function()
print(var2)

inside the function A
inside the function B
C

In [160]:
a_list = ["A", "B", "C"]

letter="X"

print('above', letter)

for letter in a_list:
    y=123
    print(letter)
    
print(y)    
print('below',  letter)

above X
A
B
C
123
below C

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [13]:
# Use the following list - [1, 11, 14, 5, 8, 9]

# 1
def less_ten1 (numbers_list):
    """Prints all numbers in a list that are less than ten"""
    
    return [number for number in numbers_list if number < 10]

print("list comprehension -", less_ten1([1,11,14,5,8,9]))

# 2
def less_ten2 (numbers_list):
    """Prints all numbers in a list that are less than ten"""
    
    new_list = []
    
    for number in number_list:
        if number < 10:
            new_list.append(number)
    
    return new_list

print("for loop -", less_ten1([1,11,14,5,8,9]))

list comprehension - [1, 5, 8, 9]
for loop - [1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [19]:
list1 = ['SpongeBob SquarePants', 'Patrick Star', 'Sandy Cheeks', 'Squidward', 'Mr. Krabs' ]
list2 = ['Ross Geller', 'Monica Geller', 'Joey Tribbiani', 'Rachel Green', 'Chandler  Bing', 'Phoebe Buffay']

def list_merge (list1, list2):
    """Merges two list in one and make the content sorted"""
    new_list = (list1 + list2)
    new_list.sort()
    
    return new_list

print(list_merge(list1, list2))

['Chandler  Bing', 'Joey Tribbiani', 'Monica Geller', 'Mr. Krabs', 'Patrick Star', 'Phoebe Buffay', 'Rachel Green', 'Ross Geller', 'Sandy Cheeks', 'SpongeBob SquarePants', 'Squidward']